section {
	padding-top: 30px;

}
#map {
                width: 770px;
                height: 370px;
                float: right;
            }
 #social-media , #quotes {
	background-attachment: fixed;
	background-image: url(../img/apples4.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
}
#testimonials{
	background-image: url(../img/pencils.jpg);
}