section {
	padding-top: 30px;

}
#map {
                width: 770px;
                height: 370px;
                float: right;
            }
 #social-media {
	background-attachment: fixed;
	background-image: url(../img/apple2.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
}